{% extends 'base.html.twig' %}

{% block title %}Edit SalaDeEventos{% endblock %}

{% block body %}
    <h1>Edit SalaDeEventos</h1>

    {{ include('sala_de_eventos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sala_de_eventos_index') }}">back to list</a>

    {{ include('sala_de_eventos/_delete_form.html.twig') }}
{% endblock %}
